{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <h2>Login</h2>

    <form method="post" class="form">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
{#        <input type="submit" value="login">#}
    </form>

{#    <a href="/">Back to dashboard</a>#}
{#    <br>#}
    If you are not registered yet, you can do it <a href="{% url 'register' %}">here</a>.

{% endblock %}