{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    <title>Registration</title>
{% endblock %}

{% block content %}
    <h2>Registration</h2>

    <form method="post" action="." class="form">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Register</button>
        {% endbuttons %}
{#        <input type="submit" value="Register">#}
    </form>

    <p>
        If you are registered, login <a href="{% url 'login' %}">here</a>.
    </p>

{% endblock %}
